/**
 * Programmer: Michael Le-Reiver
 * Date: 11/26/16
 * Time: 8:29 AM
 * File: style.less
 * Description: Nested CSS styles for LESS compiling
 */
/* Global Styles */
body {
  font-family: 'Signika Negative', sans-serif;
  background-color: #1B1E23;
}
body a {
  text-decoration: none;
  color: #D5D1D9;
  font-size: 1.5em;
}
body a:hover {
  color: #8A001E;
}
nav {
  margin: 0;
  overflow: hidden;
  top: 0;
  position: fixed;
  right: .25em;
  z-index: 1000;
  border-radius: 70px;
}
nav ul li a #icon_nav {
  list-style: none;
  text-decoration: none;
  display: inline;
  text-align: center;
  font-size: 35px;
  color: #F5F5F5;
  margin: 5px 5px;
  padding: 5px 5px;
}
nav ul #logo_nav {
  list-style: none;
  text-decoration: none;
  width: 42px;
  color: #F5F5F5;
  margin: 15px -2px 0 0;
  visibility: hidden;
}
nav ul #logo_icon_nav {
  list-style: none;
  text-decoration: none;
  width: 42px;
  color: #F5F5F5;
  margin: 5px 0 0 5px;
}
header {
  background-color: #1B1E23;
  background-image: url("../images/guano_logo_hero.png");
  margin: 0;
  padding: 0;
  height: 90vw;
  background-size: contain;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: scroll;
  position: relative;
  z-index: 0;
}
main {
  color: #72809F;
}
main h2 {
  color: #D5D1D9;
  font-family: Voltaire, sans-serif;
  font-size: 2.25em;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  background-color: transparent;
}

main #description {
  border-top: double;
  border-bottom: double #72809F;
  background-color: transparent;
  background-image: url("../images/texture.jpg");
  background-attachment: scroll;
  background-size: cover;
  z-index: 1;
  height: 80%;
}
main #description h3 {
  font-family: Voltaire, sans-serif;
  font-size: 6.25vw;
  font-weight: 600;
  color: #F5F5F5;
  margin: .5em 0 0 0;
  padding-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  z-index: 3;
}

main #description p {
  color: #F5F5F5;
  text-align: center;
  font-size: 5vw;
}
main #newsletter {
  width: 92%;
  text-align: center;
  margin: 40px auto;
}
main #newsletter input[type=email] {
  width: 100%;
  height: 35px;
  padding: 1%;
  background-color: #F5F5F5;
  font-size: 18px;
  font-family: 'Signika Negative', sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 0.95);
  font-weight: 700;
}
main #newsletter input[type=submit] {
  margin-top: 10px;
  width: 40%;
  height: 32px;
  border: #72809F 2px solid;
  background-color: #F5F5F5;
  color: #8A001E;
  font-weight: 700;
  font-size: 15px;
  font-family: 'Signika Negative', sans-serif;
  text-align: center;
}
main #music {
  color: #1B1E23;
  background-color: #1B1E23;
  border-top: double #72809F;
  border-bottom: double #72809F;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0 10px 0;
  background-image: url("../images/texture.jpg");
  background-size: cover;
  background-attachment: scroll;
}

main #music h2 {
  font-weight: 500;
}
main #music h3 {
  text-align: start;
  margin: 0 0 5px 20px;
  color: #1B1E23;
  background-color: transparent;
}
main #music audio {
  width: 90%;
}
main #music #title {
  font-weight: 300;
  margin: 40px 0 0 10px;
  width: 100%;
  font-size: 1.25em;
  padding: 20px 0;
}
main #music #song {
  margin: 35px 0;
}
main #video {
  padding-top: 20px;
  color: #D5D1D9;
}
main #video h2 {
  font-weight: 500;
  margin-bottom: 10px;
}

main #video h3 {
  padding: 10px;
  font-size: 1.25em;
}
main #video video {
  margin: 10px 0 25px 0;
  width: 100%;
  border-top: double #72809F;
  border-bottom: double #72809F;
}
main #video #title {
  font-weight: 300;
  margin: 40px 0 50px 10px;
  width: 100%;
  font-size: 1.25em;
}
main #video #venue {
  margin: 0 0 25px 30px;
  color: #D5D1D9;
}
main #video #date {
  margin: 0 0 0 30px;
  color: #D5D1D9;
}
main #shows {
  padding: 20px 0;
  border-bottom: double #72809F;
}

main #shows h2 {
  font-weight: 500;
  margin-bottom: 10px;
}
main #shows table {
  width: 100%;
}
main #shows table th {
  padding: 3%;
  border-top: #8A001E 2px solid;
  border-bottom: #8A001E 2px solid;
  background-color: #FFF;
  font-size: 5vw;
  color: #8A001E;
}
main #shows table td {
  padding: 4%;
  color: #D5D1D9;
  font-size: 4vw;
}
main #shows table td button {
  color: #8A001E;
  background-color: #F5F5F5;
  border: #72809F 2px solid;
  font-weight: 700;
  height: 30px;
  width: 50px;
}
footer {
  padding: 20px 0;
  color: #D5D1D9;
  border-top: double #72809F;
}

footer a {
  font-size: 1em;
}
footer #booking h3 {
  text-align: center;
  color: #F5F5F5;
}
footer #booking p {
  text-align: center;
  color: #D5D1D9;
  padding: 0;
}
footer #social {
  text-align: center;
}
footer #social #footer_nav {
  color: #D5D1D9;
  padding: 20px 0 0 0;
  margin: 10px 8px 0 8px;
  font-size: 1.75em;
}
footer #copyright {
  text-align: center;
  color: #F5F5F5;
  padding: 20px 0;
}
